    body {
            font-family: 'Segoe UI', sans-serif;
            background: linear-gradient(to bottom, #fff7e6, #ffe6b3);
            color: #333;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #ff9933;
            color: white;
            padding: 20px 0;
            border-bottom: 5px solid #cc6600;
        }

        h1 {
            font-size: 2.2rem;
            text-align: center;
            padding:10px;
        }

        h2 {
            color: #b36b00;
        }
        :root{
            --color: #fff8e7;
            --samicolor:#cc6600
        }
        .container {
            max-width: 700px;
            margin: 30px auto;
            background: var(--color);
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(204, 102, 0, 0.3);
        }

        p {
            font-size: 1.1rem;
            line-height: 1.7;
        }

        .date {
            font-weight: bold;
            color: var(--samicolor);
            font-size: 1.2rem;
        }

        .footer {
            margin-top: 40px;
            font-size: 0.95rem;
            color: #804000;
        }

        button {
            background-color: #ff9933;
            color: white;
            border: none;
            padding: 12px 25px;
            border-radius: 25px;
            font-size: 1rem;
            cursor: pointer;
            margin-top: 20px;
            transition: 0.3s;
        }

        button:hover {
            background-color: #cc6600;
        }

        .flower {
            font-size: 2rem;
        }
        .linkedin{
            display:block;
            text-align: end;
            text-decoration: none;
            font-size: bolt;
            margin-bottom: 15px;
        }
        @media  only screen and (max-width:480px){
            body{
                background-color: var(--color);
          
            }   
        header h1 {
        font-size: 1.6rem;   
        line-height: 1.2;    
        padding: 8px;
        word-wrap: break-word;
    }

 }